body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#section1{
    background-image: url("blue_soft.png");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    position: fixed;
    
}

#header{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    position: fixed;
    z-index: 2;   
}
#ul{
    display: flex;
   list-style: none;
   margin-top: 25px;
  
}
.li{
    margin-left: 40px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
#logo-img{
    width: 100px;
   
}
#logo{
    background-color:rgb(22, 60, 74) ;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 300px;
    height: 40px;
}
#logo-mobile{
    background-color:rgb(22, 60, 74) ;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 300px;
    height: 40px;
    width: 100px;
    margin-top: 50px;
    margin-left: -30px;
    padding-left: 20%;
}
#get{
    color:white;
    margin-top: 20px;
    margin-left: 100px;
}
#get-button{
    background-color: rgb(26, 162, 26);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    text-align: left;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
}
.mobile-link{
    color: rgb(35, 88, 168);
    text-decoration: none;
    font-size: 25px;
    padding-left: 15%;
}
.menu-icon{
    position: relative;
    padding: 5px 5px;
    display: none;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 99;
}


.times-icon{
    position: relative;
    padding: 5px 5px;
    display: none;
    z-index: 20;
}
.nav-link{
    text-decoration: none;
}
.nav-link:visited{
    color: white;
}
.menu-btn{
    position: relative;
    display: none;
}
.times-btn{
    position: absolute;
    display: none;
    
}


#menu{
    position: absolute;
    background-color:rgb(22, 60, 74) ;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    left: 0;
    z-index: 9; 
    color: white;   
}
#menu-btn:checked ~ #menu{
    max-height: 100vh;
    
}
#times-btn:checked ~ #menu{
    max-height: 0;
}
#menu-btn:checked ~ .times-icon{
    display: block;
    animation: spin 1s linear;
}
@keyframes spin {
    25%{
        transform: rotate(90deg);
    }
    50%{
            transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
.icon{
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 25px;
    position: absolute;
    transition: background 0.2s ease-out;
    margin-top: 2px;
}
.icon:after{
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 20px;
    display:  block;
    content: "";
    top: -7px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
}
.icon:before{
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 20px;
    display:  block;
    content: "";
    top: 7px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
}
.menu-btn:checked ~ .menu-icon .icon{
   background-color: transparent;
}
.menu-btn:checked ~ .menu-icon .icon:after{
    transform: rotate(-45deg);
    top: 0;
}
.menu-btn:checked ~ .menu-icon .icon:before{
    transform: rotate(45deg);
    top: 0;
    
}

.para1{
    color: white;
    width: 280px;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 10%;
}
#bank{
    position: absolute;
    background-color:rgba(6, 6, 56, 0.847) ;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center; 
   height: 70px;
   top: 62%;
   left: 33%;
   width: 450px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
#mobile-store{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 15%;
}
#p1-mobile{
    font-size: 13px;
    margin-top: 200px;
    opacity: 0.8;
    padding-left: 15%;
}
#p2-mobile{
    font-size: 13px;
    opacity: 0.8;
    padding-left: 15%;
}
.para2{
    margin-top: 0px;
}
#empty{
    width: 150px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 72%;
    left: 55%;
}
#start{
    position: absolute;
    top: 72%;
    left: 65%;
    background-color:white;
    color: rgb(38, 134, 208);
    border: none;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    letter-spacing: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}
#span1{
    color: rgb(38, 134, 208);
}
#section2{
    background-image: url("background.jpg");
    background-size: 100% 100%;
    width: 100%;
    padding-top: 50PX; 
    padding-bottom: 150px;

}
#Hover{
    color:rgb(70, 140, 210);
    font-weight:bolder;
    width: 160px;
    position: absolute;
    top: 35%;
    left: 45%;
    filter: drop-shadow(2px 2px 5px  rgba(38, 134, 208, 0.523));
    animation: hover 2s infinite ;
}
@keyframes hover {
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#iphone{
    width: 600px; 
    
}
#cell-phone{
margin-left: 30%;
position: relative;
margin-top: 500px;
width: 400px;
}
#sec2-text{
    text-align: center;
}
h2{
    font-size: 40px;
    width: 400px;
   margin: auto;
   color: rgb(38, 134, 208);
   font-weight: bolder;
}
.sec2-para1{
    font-size: 15px;
    color: white;
    width: 300px;
    margin: auto;
    padding-top: 20px;
}
#span2{
    color: white;
    
}
#svg1:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg2:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg3:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg4:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg5:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg6:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg7:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg8:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg9:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}
#svg10:hover{
    box-shadow: 1px 1px 10px 5px rgba(38, 134, 208, 0.523);
}



#svg1{
    position: absolute;
    top: 30%;
    left: 70%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
}
.svg-para{
    font-size: 14px;
    font-weight: bolder;
}
#svg2{
    position: absolute;
    top: 30%;
    left: 20%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
}
#svg3{
    position: absolute;
    top: 20%;
    left: 45%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg4{
    position: absolute;
    top: 40%;
    left: 10%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg5{
    position: absolute;
    top: 40%;
    left: 75%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg6{
    position: absolute;
    top: 50%;
    left: 20%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg7{
    position: absolute;
    top: 60%;
    left: 10%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg8{
    position: absolute;
    top: 70%;
    left: 20%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg9{
    position: absolute;
    top: 50%;
    left: 70%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#svg10{
    position: absolute;
    top: 60%;
    left: 73%;
    color: rgb(38, 134, 208);
    border: 1px solid  rgb(38, 134, 208);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 65px;
    height: 100px;
    text-align: center;
}
#experience{
    margin-left: 40%;
    position: absolute;
    top:83%;
    background-color:  rgb(76, 187, 97);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}
#section3{
   width: 936.5px;
    height: 250px;
    background-color: white;
    position: absolute;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    z-index: 1;
    bottom: -150px;
   
}
.sec3-para1{
    color:rgb(76, 187, 97) ;
    font-size: 13px;
}
.subtext-img{
    display: flex;
    color: rgb(50, 96, 113);
    width: 76%;
    font-weight: bolder;
}
#elle{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 15px;
}
.subtext{
    width: 30%;  
   
}
.paratext{
    opacity: 0.7;
    font-size: 16px;
    width: 90%;
}
#roll{
    display: flex;
    justify-content: space-between;
}
#section4{
    background-color: whitesmoke;
    width: 90%;
    padding-left: 10%;
    position: absolute;
    padding-top: 280px;
    display: flex;
    padding-bottom: 100px;
}
#sec4text{
    width: 45%;
    
}
#control{
    position: absolute;
    top: 100%;  
    width: 100%;
}
#mobile-get{
    display: none;
}
.sec4-para1{
    font-size: 14px;
    color:rgb(76, 187, 97);
    letter-spacing: 2px;
}
.sec4-para2{
    opacity: 0.7;
    font-size: 15px;
    line-height: 25px;
}
#learn{
    background-color: rgb(42, 145, 42);
    border: none;
    color: white;
    padding: 10px;
    width: 150px;
    font-size: 13px;
    border-radius: 10px;
}
.sec4-img{
    width: 60%;
}
#phone-sample{
    width: 90%;
    height: 500px;
    margin-left: 10%;   
}
#section5{
    display: flex;
    position: absolute;
    width: 100%;
    top: 145%;

}


#img-1{
    width: 50%;
    background-color:  rgb(22, 60, 74);
    padding-top: 100px;
    padding-bottom: 120px;
  
}

#img-2{
    width: 50%;
    background-color:  rgb(17, 40, 48);
    padding-top: 100px;
    padding-bottom: 120px;
    
}
#fone1{
    display: block;
    width: 200px;
    position: relative;

}


#fone2{
    display: block;
    width: 200px;
    position: relative;
}
#personal{
    text-align: center;
    margin: auto;
    
}

h3{
    color: rgb(0, 217, 255);
    font-size: 20px;
    padding-bottom:20px ;
    text-align: center;
}
#personal-details{
    color: white;
    width: 45%;
    margin: auto;
    display: none;
    margin-left: 2%;
  
   
}
#wrap:hover > #personal-details{
    display: block;
    line-height: 25px;
    animation: display 2s;
}

@keyframes display{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#wrap:hover>div>#personal{
    transform: translate(98%,310%);
    transition: .8s;
}
#learn1{
    background-color: rgb(42, 145, 42);
    border: none;
    color: white;
    padding: 10px;
    width: 120px;
    font-size: 13px;
    border-radius: 10px;
}
i{
    opacity: 0.8;
}
#pick{
   
    width: fit-content; 
    margin: auto;  
}
#wrap{
    display: flex;
}
footer{
    background-color: rgb(12, 12, 16);
    padding-top: 40px;
    position: absolute;
    top: 180.87%;
    width: 100%;
    padding-bottom: 30px;
}
h4{
    color: white;
    text-align: center;
    font-size: 35px;
}
#store{
    display: flex;
    margin:auto;
    justify-content: center;
    margin-left: 20px;

}
#store1{
    margin-right:20px ;
    cursor: pointer;
    
}
#foot-list{
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 10%;
    font-size: 12px;
    padding-top: 100px;
    padding-bottom: 30px;
}
.listed{
    color: white;
}
ul{
    list-style: none;
}
#social-media{
    display: flex;
    margin-left: -10px;
}
.socio{
   margin-left: 10px; 
   
}
#app{
    width:20px;
}
.foot-para1{
    color: white;
    opacity: 0.5;
}
#iyiyy{
    display: block;
}
.mail{
    color: white;
    margin-left: 20px;
    margin-top: -1px;
    opacity: 0.8;
    text-decoration: none;
}
#email{
    display: flex;
    margin-top: 10px;
}
.contact{
    color:white;
    opacity: 0.5;
}
li{
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
}
.head{
    opacity: 0.5;
}
#last{
    padding-left: 10%;
}
#line{
    width: 100%;
    height: 1px;
    background-color: gray;
  
    margin-top: 20px;
    margin-bottom: 10px;
}
.copyright{
    color: white;
    opacity: 0.5;
    font-size: 12px;
}
.animations{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    animation: index 8s linear;
}

.anim{
    position: relative;
}

/*10028873788378287*/

@keyframes index {
    0%{
        z-index: 10028873788378287;
    }
    10%{
        z-index: 10028873788378287;
    }
    100%{
        z-index: 10028873788378287;
    }
}

.animation-first,.animation-second,.animation-third,.animation-fourth,.animation-last{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-first{
    background-image: url("images/splash_person_1_d.webp");
    opacity: 1;
}

.animation-second{
    background-image: url("images/splash_person_2_d.webp");
    opacity: 1;
    animation: indexes 1.5s linear;
}

.animation-third{
    background-image: url("images/splash_person_3_d.webp");
    opacity: 1;
    animation: indexes 3s linear;
}

.animation-fourth{
    background-image: url("images/splash_person_4_d.webp");
    opacity: 1;
    animation: indexes 4.5s linear;
}

.animation-last{
    background-image: url("images/blue_soft_bg_2x_plain.b581cc731d392261bfd9.png");
    opacity: 1;
    animation: indexes 6s linear;
}

@keyframes indexes{
    0%{
        z-index: -1;
    }

    100%{
        z-index: -1;
    }
}
.pre-head{
    font-size: 60px;
    margin: auto;
    position: relative;
    top: 100px;
    color: white;
    text-shadow: 1px 1px 10px black;
}
.span-head{
   color: rgb(38, 134, 208);
   text-shadow: 0px 0px 0px rgb(255, 255, 255);
   background-color: white;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 10px;
}
.build{
    font-size: 18px;
    color: white;
    position: relative;
    left: 50px;
}
.pole{
    color: white;
    position: relative;
    font-size: 50px;
    top: 30px;
    right: 120px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.575);
}
.span-head2{
    position: relative;
    bottom: 12px;
    color: rgb(38, 134, 208);
    font-size: 60px;
    background-color: white;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}






